@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    .meal-detail-sec .left .detail-item{
        transform: translateX(0px);
    }
    .meal-detail-sec .right .detail-item{
        transform: translateX(0px);
    }
}
@media only screen and (min-width: 992px){
    #testimonalModal .modal-dialog{
        max-width: 900px;
    }
}
@media only screen and (max-width: 768px){
    .main-nav .navbar-brand img{
        width: 100px;
    }
    .main-nav .colored .navbar-brand img{
        width: 80px!important;
    }
    .main-banner-item .content-box{
        width: 95%;
    }
    .main-banner-item .content-box .desc{
        width: 100%;
    }
    .top-nav .text-box p{
        font-size: 14px;
        font-weight: 400;
    }
    .footer-top .footer-logo-box{
        margin:  0 auto;
        text-align: center;
    }
    .footer-top .footer-logo-box a img{
        width: 140px;
    }
    .footer-top .footer-logo-box .text{
        font-size: 20px;
    }
    .footer-top .footer-social-box{
        justify-content: center;
        margin-top: 20px;
    }
    .footer-top .footer-social-box a{
        width: 35px;
        height: 35px;
        font-size: 16px;
    }
    .main-footer .footer-link-box{
        margin-bottom: 20px;
        text-align: center;
    }
    .main-footer .footer-link-box .footer-link-title{
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .main-footer .footer-link-box ul li{
        margin-bottom: 5px;
    }
    .main-footer .footer-link-box ul li a{
        font-size: 14px;
    }
    .footer-bottom .copyright-box p{
        text-align: center;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .footer-bottom .link-box a{
        font-size: 14px;
    }
    .footer-bottom .link-box{
        justify-content: space-around;
    }
    .snack-card .content-box{
        transform: translateY(0);
    }
    .meal-paln-item .btn-box{
        transform: translate(0) translateX(0);
    }
    .meal-paln-item .content-box{
        transform: translateY(0px);
    }
    .favourite-item .content-box .btn-box{
        transform: translateX(0px);
    }
    .favourite-item .content-box{
        transform: translateY(0);
    }
    .new-item-sec .content-box{
        transform: translateX(0) translateY(-80px);
        width: 95%;
        margin: 0 auto;
    }
    .new-item-sec .content-box:hover{
        transform: translateX(0) translateY(-80px);
    }
    .new-item-sec .content-box .text-muted{
        text-align: center;
    }
    .new-item-sec.why-us .content-box{
        box-shadow: none;
        margin-bottom: 70px;
        transform: translateX(0) translateY(50px);
        width: 100%;
    }
    .new-item-sec.why-us .content-box:hover{
        transform: translateX(0) translateY(50px)
    }
    .new-item-sec .img-box img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: right;
    }
    .new-item-sec.why-us .img-box img{
        height: auto;
    }
    .new-item-sec{
        padding: 100px 0 40px 0;
    }
    #testimonalModal .modal-dialog{
        max-width: 678px;
    }
    .sub-pages-banner-sec h1{
        width: 95%;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .sub-pages-banner-sec p{
        width: 95%;
        font-size: 16px;
    }
    .section-heading h2{
        font-size: 30px;
    }
    .section-heading p{     
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menu-category-heading-box{
        padding: 20px 30px;
    }
    .menu-navbar .heading{
        text-align: center;
        margin-bottom: 20px;
    }
    .menu-nav-box{
        justify-content: center;
    }
    .menu-navbar.sticky{
        top: 55px !important;
    }
    .main-banner-item .content-box .title{
        font-size: 30px;
    }
    .main-banner-item .content-box .desc{
        font-size: 16px;
    }
    .special-diet-sec .special-item{
        display: block;
        text-align: center;
        margin-bottom: 50px;
    }
    .special-diet-sec .special-item .img-box{
        margin-bottom: 20px;
        margin-right: 0;
    }
    .special-diet-sec .special-item:hover .img-box{
        margin-right: 0;
        transform: scale(1.1);
    }
    .special-diet-sec .special-item .img-box svg{
        height: 50px;
        width: auto;
    }
    .special-diet-sec .section-heading{
        text-align: center;
    }
    .special-diet-sec .section-heading .line{
        margin-left: auto!important;
    }
    .special-diet-sec .left-side .text{
        text-align: center;
    }
    .slide-track .slide a img{
        width: 100px;
        height: auto;
        filter: grayscale(0);
        opacity: 1;
    }
    .slide-track {
        animation: scroll 10s linear infinite;
    }
    @keyframes scroll {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(calc(-100px * 7));
        }
    }
    .product-image-slider-item img{
        height: 300px!important;
    }
    .porduct-info-box .tag-box{
        display: inline-block;
    }
    .porduct-info-box .tag-box .tag{
        display: inline-block;
    }
    .pro-detail-btns-box .nav-item{
        width: 100%;
    }
    .pro-detail-btns-box .nav-link{
        margin-bottom: 10px;
        margin-right: 0;
        width: 100%;
    }
    
    #product-detail-slider .owl-dots .owl-dot span{
        background-color: var(--pink);
        width: 20px;
        height: 5px;
    }
    #product-detail-slider .owl-dots .owl-dot.active span{
        background-color: var(--dark-pink);
        width: 40px;
    }

    .menu-item .content-box{
        padding-bottom: 80px;
    }
    .menu-item .img-box .ing-box{
        transform: translateX(0);
    }
    .menu-item:hover .img-box img{
        transform: scale(1.0);
    }
    .menu-item:hover .img-box .ing-box{
        transform: translateX(200px)!important;
    }
    /* .menu-item .content-box .ing-box{
        bottom: 75px;
        margin-bottom: 20px;
    }
    .menu-item:hover .content-box .ing-box{
        transform: translateY(0);
    } */
    .menu-item .content-box .price-box{
        transform: translateY(0);
        margin-bottom: 20px;
    }
    .open .accordions__content{
        padding-top: 20px;
    }
    .open .accordions__content p{
        margin-bottom: 0;
    }
    .new-item-sec .content-box .title,
    .new-item-sec .content-box .text{
        text-align: center;
    }
    .new-item-sec .content-box .primary-btn{
        margin: 0 auto;
        display: table;
        text-align: center;
    }
    .testimonal-item .main-box .rating-box{
        justify-content: center;
    }
    .testimonal-item .main-box .desc{
        text-align: center;
    }
    .support-your-goals-sec .section-heading{
        text-align: center;
    }
    .support-your-goals-sec .section-heading .line{
        margin-left: auto!important;
    }
    .support-your-goals-sec .content-box .text{
        text-align: center;
    }
    .paralex-banner-sec .content-box{
        padding: 30px 30px;
    }
    .paralex-banner-sec .content-box .title{
        text-align: center;
    }
    .paralex-banner-sec .content-box .desc{
        text-align: center;
    }
    .paralex-banner-sec .content-box .primary-btn{
        margin: 0 auto;
        display: table;
    }
    .menu-category-heading-box .title{
        text-align: center;
    }
    .menu-category-heading-box .desc{
        text-align: center;
    }
    .porduct-info-box .title{
        text-align: center;
    }
    .porduct-info-box .desc{
        text-align: center;
    }
    .porduct-info-box .primary-btn{
        width: 100%;
        text-align: center;
    }
    .desc-box{
        padding: 30px;
    }
    .desc-box .title{
        text-align: center;
    }
    .desc-box .desc{
        text-align: center;
    }
    .desc-box .text{
        text-align: center;
    }
    .desc-box .note{
        text-align: center;
    }
}
@media only screen and (max-width: 576px){
    .ms-form{
        padding: 30px 20px;
    }
    .meal-plan-new-box::before {
        background: unset;
    }
    
    .meal-plan-new-box::after {
        background: unset;
    }
}
@media only screen and (max-width: 430px){
    .testimonal-item-modal{
        padding: 20px 0px;
    }
}
@media only screen and (max-width: 400px){
    .main-banner-item .content-box{
        bottom: unset;
        top: 90%;
    }
    .main-banner-item .content-box .primary-btn{
        width: 100%;
    }
    
}