@media only screen and (max-width: 1200px){
    
}
@media only screen and (max-width: 992px){
    .meal-detail-sec .left .detail-item{
        transform: translateX(0px);
    }
    .meal-detail-sec .right .detail-item{
        transform: translateX(0px);
    }
}
@media only screen and (min-width: 992px){
    #testimonalModal .modal-dialog{
        max-width: 900px;
    }
}
@media only screen and (max-width: 768px){
    .main-banner-item .content-box{
        width: 95%;
    }
    .main-banner-item .content-box .desc{
        width: 100%;
    }
    .top-nav .text-box p{
        font-size: 14px;
        font-weight: 400;
    }
    .footer-top .footer-social-box{
        justify-content: center;
        margin-top: 30px;
    }
    .footer-bottom .copyright-box p{
        text-align: center;
        margin-bottom: 20px;
    }
    .footer-bottom .link-box{
        justify-content: space-around;
    }
    .snack-card .content-box{
        transform: translateY(0);
    }
    .meal-paln-item .btn-box{
        transform: translate(0) translateX(0);
    }
    .meal-paln-item .content-box{
        transform: translateY(0px);
    }
    .favourite-item .content-box .btn-box{
        transform: translateX(0px);
    }
    .favourite-item .content-box{
        transform: translateY(0);
    }
    .new-item-sec .content-box{
        transform: translateX(0) translateY(-80px);
        width: 95%;
        margin: 0 auto;
    }
    .new-item-sec .content-box:hover{
        transform: translateX(0) translateY(-80px);
    }
    .new-item-sec .img-box img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: right;
    }
    .new-item-sec{
        padding: 100px 0 40px 0;
    }
    #testimonalModal .modal-dialog{
        max-width: 678px;
    }
    .sub-pages-banner-sec h1{
        width: 95%;
        font-size: 30px;
        margin-bottom: 20px;
    }
    .sub-pages-banner-sec p{
        width: 95%;
        font-size: 16px;
    }
    .section-heading h2{
        font-size: 30px;
    }
    .menu-category-heading-box{
        padding: 20px 30px;
    }
    .menu-navbar .heading{
        text-align: center;
        margin-bottom: 20px;
    }
    .menu-nav-box{
        justify-content: center;
    }
    .menu-navbar.sticky{
        top: 57px !important;
    }
}
@media only screen and (max-width: 576px){
    .ms-form{
        padding: 30px 20px;
    }
}
@media only screen and (max-width: 430px){
    .testimonal-item-modal{
        padding: 20px 0px;
    }
}
@media only screen and (max-width: 400px){
    .main-banner-item .content-box{
        bottom: unset;
        top: 90%;
    }
    .main-banner-item .content-box .primary-btn{
        width: 100%;
    }
    
}