:root{
    --pink: #FA9EBC;
    --light-pink: #FFD9F2;
    --dark-pink: #570228;
    --white: #FFF;
    --black: #000;
    --gray: #949494;
    --light-gray: #F7F7F7;
    
    /* --wa: #32AB3E;
    --light-green: #448D75;
    --green: #20463b; */
}
