:root{
    /* --pink: #84A59D; */
    --pink: #84A59D;
    /* --light-pink: #FFD9F2; */
    --light-pink: #AFD4CB;
    /* --dark-pink: #570228; */
    --dark-pink: #578278;
    --white: #FFF;
    --black: #000;
    --gray: #949494;
    --light-gray: #F7F7F7;

}
